body{
    font-family: Open Sans;
}
#searchInput {
    width: 25vw;
}
#search_form{
    margin-left: 8vw;
}
form h2 {
    text-align: center;
}
form p{
    text-align: center;
}
#or {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 10px 0 20px;
}
nav{
    font-size: 18px;
}
h5 span {
    background:#fff;
    padding:0 10px;
}
#fb_button {
    width: 10vw;
}
.quiz {
    padding: 3vw 0vw;
}
.quiz_header {
    margin: 0vw 5vw;
}
.quiz_text  {
    margin: 0vw 5vw;
}

.star{
    border: 0 none;
    display: inline-block;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.review li {
    float: left;
    list-style-type: none;
}
.review_text{
    margin: 0vw 3vw;
}
footer{
    background: grey;
}

#return-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: none;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
#loginSubmit {
    width: 100%;
}
#signUpSubmit {
    width: 100%;
}
a {
    cursor: pointer;
}
.modal-xl {
    max-width: 90vw !important;
}
#top_mobile{
    display: none;
}
#cq_tablet {
    display: none;
}
#cq_mobile{
    display: none;
}
@media only screen and (max-width: 1000px){
    .container{
        margin: 0;
        width: 100%;
    }
}
@media only screen and (max-width: 1100px){
    #search_form{
        margin-left: 3vw;
    }
}
@media only screen and (max-width: 990px){

    #loginBtn {
        position: absolute;
        right: 12vw;
        top: 20px;
    }
    #search_form{
        margin: 0;
    }
    #searchInput{
        width: 200px;
    }
    .modal-xl {
        max-width: 100vw !important;
    }
    #cq_wide{
        display: none;
    }
    #cq_tablet{
        display: block;
    }
    #top_web {
        display:none;
    }
    #top_mobile{
        display: block;
    }
}


@media only screen and (max-width: 800px){

    #loginBtn {
        right: 14vw;
    }
    .review_wrap{
        display: none;
    }
}
@media only screen and (max-width: 762px){
    .container{
        min-width: 95% !important;
    }
}
@media only screen and (max-width: 600px){

    #loginBtn {
        right: 17vw;
    }
}