textarea{
    overflow-y: scroll;
    height: 100px;
    resize: none;
}
#return-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: none;
    text-decoration: none;
    border-radius: 35px;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}
footer{
    background: grey;
}
body{
    font-family: Open Sans;
}
.sidebar-wrapper{
    position: fixed;
    top: 20%;
    right: 0;
    border-radius: 15px 0px 0px 15px;
    background: #DEE2E6;
    z-index: 100;
}
.scrollable {
    height: 365px;
    overflow-y: auto;
}
.notes {
    position: fixed;
    top: 20%;
    right: 55px;
    max-width: 95vw !important;
}
.tasks {
    position: fixed;
    top: 20%;
    right: 55px;
    max-width: 95vw !important;
}
.trash {
    cursor: pointer;
}
a {
    color: black;
    text-decoration: none;
}
a:hover {
    color: black;
    text-decoration: none;
}
.media_container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.media_container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.task{
    padding: 0;
    transition: all 0.3s ease;
}
.task:hover {
    box-shadow: 0 0 15px rgba(33,33,33,.2);
    transform: translate(0, -10px);
    transition: transform 0.3s;
}
.header {
    max-width: 100% !important;
    margin: 0;
}
.mobile_tasks {
    display: none;
}

@media only screen and (max-width: 1500px){
    header {
        padding: 2vw 0vw !important;
    }
}
@media only screen and (max-width: 1300px){
    .mobile_tasks {
        display: block;
    }
    .web_tasks {
        display: none !important;
    }
    .container{
        margin: 0vw 5vw;
        justify-content: center;
    }
    .logo {
        justify-content: center;
        margin-bottom: 30px;
    }
    .container {
        width: 80% !important;
        justify-content: center;
    }
    .lesson_content {
        width: 100% !important;
    }
}
@media only screen and (max-width: 1200px) {
    .container {
        min-width: 90% !important;
    }
    .hdr_btn {
        width: 100%;
    }
}
@media only screen and (max-width: 1000px){
    .container{
        min-width: 100% !important;
        margin: 0vw;
    }
    .lesson_content {
        width: 90%;
    }
    .task_img {
        width: 40px;
    }
    .notes_img {
        width: 38px;
    }
    .chat {
        width: 38px;
    }
    .logout {
        width: 34px;
    }
    .notes{
        right: 45px;
    }
    .tasks{
        right: 45px;
    }

}
@media only screen and (max-width: 768px) {
    .task_img {
        width: 30px;
    }
    .notes_img {
        width: 28px;
    }
    .chat {
        width: 28px;
    }
    .logout {
        width: 24px;
    }
    .notes{
        right: 35px;
    }
    .tasks{
        right: 35px;
    }
}
@media only screen and (max-width: 576px) {
    .btn_task {
        width: 100%;
    }
}
